{% macro typeStr(type,len,dec) -%}
{%- if type=='str' -%}
VARCHAR({{len}})
{%- elif type=='char' -%}
CHAR({{len}})
{%- elif type in ['long','short'] -%}
INTEGER
{%- elif type=='date' -%}
DATE
{%- elif type=='time' -%}
TIME
{%- elif type=='timestamp' -%}
timestamp
{%- elif type=='timestamp' -%}
timestamp
{%- elif type=='float' -%}
double
{%- elif type=='text' -%}
ntext({{len}})
{%- elif type=='file' -%}
blob
{%- else -%}
{{type}}
{%- endif %}
{%- endmacro %}

{% macro primary() %}
primary key({{','.join(summary[0].primary)}})
{% endmacro %}

create table {{summary[0].name}}
(
{% for field in fields %}
  {{field.name}} {{typeStr(field.type,field.length,field.dec)}},
{% endfor %}
{{primary()}}
)
